.elementor-33873 .elementor-element.elementor-element-26c0dc9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-33873 .elementor-element.elementor-element-26c0dc9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-33873 .elementor-element.elementor-element-28437ea.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-33873 .elementor-element.elementor-element-1f92532 {
    --spacer-size: 180px;
}

.elementor-33873 .elementor-element.elementor-element-bd6359f {
    --spacer-size: 180px;
}

body:not(.rtl) .elementor-33873 .elementor-element.elementor-element-902fb86 {
    left: 0%;
}

body.rtl .elementor-33873 .elementor-element.elementor-element-902fb86 {
    right: 0%;
}

.elementor-33873 .elementor-element.elementor-element-902fb86 {
    top: 34%;
    text-align: center;
}

.elementor-33873 .elementor-element.elementor-element-902fb86 .elementor-heading-title {
    color: #02010163;
    font-size: 300px;
}

@media(max-width:1199px) {
    .elementor-33873 .elementor-element.elementor-element-28437ea.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-33873 .elementor-element.elementor-element-d3cfe55 {
        text-align: center;
    }
}

@media(max-width:1199px) and (min-width:768px) {
    .elementor-33873 .elementor-element.elementor-element-28437ea {
        width: 100%;
    }
}